


input[type="radio"]{
	display: none;
	}
input[type="checkbox"]{
	display: none;
	}
* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	border-style: none;
	font-family: sans-serif;
	}
body {
	background: #444;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	}
header.menupg { 
	 height: 30px;
	 color:#fff;
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
	 z-index: 500;
	}
header label {
	font-size:25px;
	cursor: pointer;
	display: none;
	}
.menu a {
	display: block;
	padding: 15px 25px;
	color: #fff;
	text-decoration: none;
	}
.menu a:hover {
	background: rgba(0,0,0,0.3);
	}
.sup table{
	position: relative;
	top: 3px;
	left: 60px;
	width:30%;
	}
td.title {
	padding: 3px;
	font-size: 0.5em;
	color: rgba(105,105,105,.9);
	}
td.value {
	padding: 3px;
	font-size: 0.7em;
	color: rgba(157,255,212,1);
	}
.sup span{
	position: relative;
	left: -35px;
	}
.bt{
	display: none;
	}
.linha{
	width:100%;
	margin: auto ;
	display: inline-block;
	}
.pag header.headpg{
	margin: 0px;
	padding: 0px 0px;
	border:3px solid rgba(157,255,212,1);
	position: fixed;
	top:33px;
	height: auto;
	}
h2{
	text-align: center;
	color:rgba(157,255,212,1);
	font-size: 1em;
	text-transform: uppercase;
	z-index: 190;
	}
.pag {
	width: 25%;
	height: 50%;
	display: inline-block;
	margin: 0px;
	border:3px solid rgba(157,255,212,1);
	}
.divimg {
	position: relative;
	top: 60px;width: 100%;
	 z-index: 180;
	}	
.divimg div{
	display: inline-block;
	margin: 6px;
	}
.divbt{
	position: relative;
	top: 0px;
	}
.Layer{
	background: #000000;
	position: absolute;
	top:28px;
	left: 95px;
	width:25%;
	z-index: 999;
	font-size: 0.7em;
	color: rgba(157,255,212,1);
	list-style-type: none;
	text-decoration: none;
	margin: 0px ;
	padding:0px;
	border:3px solid rgba(157,255,212,1);
	}
.Layer li:hover{
	border:3px solid rgba(157,255,212,1);
	cursor: pointer;
	background: #444;
	transition: all 0.3s ease-in-out 0s;
	}	
.mini {
	margin: 0px;
	padding: 0px;
	width: 60px;
	height: 60px;
	right: 30px;
	}
.mini:hover{
	zoom:125%;
	transition: all 0.6s ease-in-out 0s;
	cursor: pointer
	}
td.title {
	padding: 3px;
	font-size: 0.5em;
	color: rgba(105,105,105,.9);
	}
td.value {
	padding: 3px;
	font-size: 0.7em;
	color: rgba(157,255,212,1);
	}
.sup span{
	position: relative;
	left: -35px;
	}
div.bt {
	position: absolute;
	left: 15px;
	top: 3px;
	font-size:25px;
	cursor: pointer;
	z-index: 990;
	}
div.bt label {
	position: relative;
	z-index: 991;
	}	
.bt{
	display: none;
	}
td.title {
	padding: 3px;
	font-size: 0.5em;
	color: rgba(105,105,105,.9);
	}
td.value {
	padding: 3px;
	font-size: 0.7em;
	color: rgba(157,255,212,1);
	}
div.bt {position: absolute;left: 15px; top: 3px;font-size:25px;cursor: pointer;z-index: 990;}
div.bt label {position: relative;z-index: 991;}



	
.image{position: relative;top: 60px;}
.image img{margin: 0px;padding: 0px; width: 60px;height: 60px;opacity: .5; border:2px solid #FFFFFF;}
.image img:hover{border:2px solid rgba(157,255,212,1);opacity: 1;zoom:125%;transition: all 0.6s ease-in-out 0s;cursor: pointer;opacity: 1;}

.image a{display: inline-block; background-size: contain;margin: 0px;padding: 0px; width: 60px;height: 60px;}

.icon-down{font-size:20px;cursor: pointer;color:rgba(157,255,212,1);}
.icon-camera{font-size:20px;cursor: pointer;color:rgba(157,255,212,1);}
.icon-ok{font-size:20px;cursor: pointer;color:rgba(157,255,212,1);}
.icon-cancel{font-size:20px;cursor: pointer;color:rgba(157,255,212,1);}
.icon-imagem{font-size:20px;cursor: pointer;color:rgba(157,255,212,1);}
.icon-menu1{position: relative;top: -6px;left: -7px; font-size:15px;cursor: pointer;color:rgba(157,255,212,1);z-index: 900;}

@media (max-width: 768px) {
	fieldset{
		width:100%;
		height: auto;
		margin:0px;
		padding: 0px;
		}
	header{
		width: 100%;
		}
	footer{
		width: 100%;
		}
	.pag{
		width: 100%;
		height: auto;
		}
	header label{
		display: block;
		}
	
	.btn_menu {
		position: relative;
		left: 15px;
		}
	#btn_menu:checked ~ .menu {
		transform: translateX(0%);
		}	
	#menu{
		background: red;
		width: 100%;
		left: 0px;
		position: absolute;
		top: 30px;
		z-index: 910;
		}
	#menu ul {
		background: #555;
		list-style-type: none;
		}
	#menu ul li a{
		font-size: 1em;
		color: rgba(105,105,105,.9);
		}
	#menu ul li a:hover{
		color: rgba(157,255,212,1);
		}
	.bt{
		display: block;
		}
	.sup span {
		position: relative;
		left: -5px;
		}
	.sup table {
		position: relative;
		top: 3px;
		left: 45px;
		width: 100%;
		}
	.pag {
		width: 100%;
		height: auto;
		}	
	footer.select {
		position: fixed;
		bottom: 3px;
		}
	.texto{
		width: 74%;
		}
	.valor{
		width: 100%;
		}
	.form input{
		width: 100%;
		}
	td .texto{
		.form input{
			width: 75%;
			}
		}
}
