
.icon-vidro:before { content: '\e800'; } /* '' */
.icon-imagem:before { content: '\e802'; } /* '' */
.icon-agua:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-pincel:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-layers:before { content: '\e809'; } /* '' */
.icon-imagem1:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-anexar:before { content: '\e80f'; } /* '' */
.icon-cancel1:before { content: '\e811'; } /* '' */
.icon-flash:before { content: '\e812'; } /* '' */
.icon-vidro2:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-lixeira:before { content: '\e817'; } /* '' */
.icon-chapas:before { content: '\e819'; } /* '' */
.icon-pedra3:before { content: '\e81a'; } /* '' */
.icon-check:before { content: '\e81d'; } /* '' */
.icon-edit:before { content: '\e81e'; } /* '' */
.icon-seta:before { content: '\e820'; } /* '' */
.icon-metal:before { content: '\e824'; } /* '' */
.icon-config:before { content: '\e825'; } /* '' */
.icon-user:before { content: '\e826'; } /* '' */
.icon-configuracoes:before { content: '\e827'; } /* '' */
.icon-madeiras:before { content: '\e82b'; } /* '' */
.icon-metais3:before { content: '\e82e'; } /* '' */
.icon-materiais3:before { content: '\e82f'; } /* '' */
.icon-fire:before { content: '\e830'; } /* '' */
.icon-visao:before { content: '\e831'; } /* '' */
.icon-executar:before { content: '\e834'; } /* '' */
.icon-menu2:before { content: '\f009'; } /* '' */
.icon-menu1:before { content: '\f0ae'; } /* '' */
.icon-up:before { content: '\f102'; } /* '' */
.icon-down:before { content: '\f103'; } /* '' */
.icon-alert:before { content: '\f12a'; } /* '' */
.icon-objeto:before { content: '\f1b2'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */